$gray: #cccccc;
$dark: #33455c;
$light-dark: #4e5360;
$light-gray: #dedfdf;
$danger:#ff4b56;
$dark-gray:#777777;
$dark-blue:#0098d3; 
$white: white;

$inputBorderColor: #dedfdf;
$inputTextColor: #4e5360;
$buttonTextColor: white;
$buttonBackround: #4e5360;
$buttonHoverBackround: $dark;